# =========================
# IDEs
# =========================

.vscode/
.idea/

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log

# =========================
# Environment files
# =========================

.env
.env.local
.env.*.local

# =========================
# Git merge/conflict backups
# =========================

*.orig

# =========================
# Temporary files
# =========================

*.tmp
*.temp